.social{
    width: 50px;
    position: absolute;
    position: fixed;
    right: 8px;
    top: 40%;
    z-index: 1000;
}
.social li a img{
    max-width: 20px;
}
.social li{
    list-style: none;
    margin: 50px 0px;
    padding: 15px;
}
